<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>


</head>

<body>
    
    <div class="header">
        <div class="logo">
            <a href="#">
                <img src="images/cine.png" alt="">
            </a>
        </div>
    </div>



    <div class="login_body">
        <div class="login_box">
            <h2>Registrar-se</h2>
            <form>
                <div class="input_box">
                    <input required type="user" placeholder="Usuário">
                </div>

                <div class="input_box">
                    <input required type="email" placeholder="Email">
                </div>

                <div class="input_box">
                    <input required type="password" placeholder="Senha">
                </div>

                <div>
                    <button class="submit">
                        Entrar
                    </button>
                </div>
            </form>

            <div class="support">
                <div class="remember">
                    <span><input type="checkbox" style="margin: 0;padding: 0; height: 13px;"></span>
                    <span>Lembre-se de mim</span>
                </div>
                <div class="help">
                    <a href="#">
                        Precisa de ajuda?
                    </a>
                </div>
            </div>

            <div class="login_footer">
                
                <div class="sign_up">
                    <p>Já possui uma conta? <a href="/login">Entre agora.</a></p>
                </div>

            </div>
            
            
        </div>
    </div>
    <script src="index.js"></script>
</body>

</html>