<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="css/homepage.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css" integrity="sha384-QYIZto+st3yW+o8+5OHfT6S482Zsvz2WfOzpFSXMF9zqeLcFV0/wlZpMtyFcZALm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

</head>
<body>
    <ul>
        <li><img src="images/cine.png" alt=""></li>
        <li>
            <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
            <ul class="dropdown">
                <li><a href="#"><i class="fa fa-film" aria-hidden="true"></i> Filmes</a></li>
                <li><a href="#"><i class="fa fa-pencil" aria-hidden="true"></i> Reviews</a></li>
                <li><a href="#"><i class="fa fa-eye" aria-hidden="true"></i> Para ver</a></li>
                <li><a href="login"><i class="fa fa-user" aria-hidden="true"></i> Perfil</a></li>
            </ul>

            <div class="box">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text" name="fff">
            </div>
        </li>
    </ul>

    <h2>ÁREA EM CONSTRUÇÃO EM CONSTRUÇÃO</h2>
    <h2>Aqui será feita a integração ao tmdb</h2>


    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col">
                    <a href="#">Sobre</a>
                </div>
                <div class="footer-col">
                    <a href="#">Notícias</a>
                </div>
                <div class="footer-col">
                    <a href="#">Pro</a>
                </div>
                <div class="footer-col">
                    <a href="#">Retro</a>
                </div>
                <div class="footer-col">
                    <a href="#">Ajuda</a>
                </div>
                <div class="footer-col">
                    <a href="#">Contato</a>
                </div>
                <div class="footer-col">
                    <div class="social-links ">
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-facebook"></i></a>
                        <a href="#"><i class="fab fa-youtube"></i></a>
                        <a href="#"><i class="fab fa-tiktok"></i></a>

                    </div>
                </div>
            </div>
            <h4 class="copy">© Ciné. Feito por uma equipe de estudantes. Informações sobre os filmes providenciadas pela TMDb.</h4>
        </div>
    </footer>
    
</body>
</html>