@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body {
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    justify-self: center;
    align-items: center; 
    background-color:  #0d0d0d;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header{
    align-items: center;
}

.header-list{
    text-align:center;
}
.cine-logo {
    float: left;
}

ul, .usuario-nao-cadastrado {
    list-style: none;
    background: #0d0d0d;
    padding: 10px;
      
}

ul li {
    display: inline-block;
    position: relative;
}
ul li a {
    background: #557373;
    border-radius: 7px;
    display: inline-block;
    padding: 0 10px;
    --largura-dropdown: auto;
}

ul li a, .header .header-list img  {
    display: inline-block;
    padding: 10px 20px;
    color: #f2efea;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    vertical-align: middle; /* alinha os elementos verticalmente */
}
ul li ul.dropdown li {
    display: block;
}

ul li ul.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #202020;
  display: none;
  z-index: 999;
  padding: 0px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  
}
ul li ul.dropdown a {
  background-color: #202020;
  border: 3px solid black;
  width: 100%;
}
ul li ul.dropdown a:hover {
    background-color: #60605f;
  }

ul li a:hover{
    background: #323231;
}
ul li:hover ul.dropdown{
    display: block;
    width: auto;
}

/*barra de busca */
.box .barra-de-busca {
    background-color: white;
}
.box {
    width: 800px;
    height: auto;
    background-color: white;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-self: start;
    padding: 10px 10px 10px;
    float: right;
    margin-left: 20px;
}


.box > i {
    padding: 5px;
    padding-right: 3px;
    font-size: 20px;
    color: #777;
}

.box > input {
    flex: 1;
    height: 30px;
    border: none;
    outline: none;
    font-size: 18px;
    background-color:white;
}

.usuario-nao-cadastrado {
    float: right;
    border-radius: 50%;
    width: 89px;
}

/*footer*/
.container {
    max-width: 1170px;
    background-color: #1c1c1c;
    margin: auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.footer {
    background-color: #1c1c1c;
    padding: 70px 0px;
    clear: both;
}

.footer-col {
    width: 14.28%;
    padding: 0 15px;
}
.footer-col a{ 
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: white;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
    color: #24262b;
    background-color: white;
}
.footer-col .social-links img {
    width: 150px;
}
.footer-col .social-links li{
    display:list-item;
  
    list-style: none;
}
.footer-col .social-links li h5{
    color: #f2efea;
}
.copy {
    color:#777
}

.option{
    vertical-align: middle;
}

/*Carousel*/
.section {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
}

.slide {
    width: 500%;
    height: 500px;
    display: flex;
}

.slide input {
    display: none;
}

.st {
    width: 20%;
    transition: 2s;
}

.st img {
    width: 800px;
    height: 500px;
}

.nav-m {
    position: absolute;
    width: 800px;
    margin-top: -40px;
    justify-content: center;
    display: flex;
}

.m-btn {
    border: 2px solid #23e3c2;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.m-btn:not(:last-child){
    margin-right: 30px;
}

.m-btn:hover {
    background-color: #23e3c2;
}

#radio1:checked ~.first {
    margin-left: 0;
}
#radio2:checked ~.first {
    margin-left: -20%;
}
#radio3:checked ~.first {
    margin-left: -40%;
}
#radio4:checked ~.first {
    margin-left: -60%;
}

.nav-auto {
    position: absolute;
    width: 800px;
    margin-top: 460px;
    display: flex;
    justify-content: center;
}

.nav-auto div {
    border: 2px solid #23e3c2;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.nav-auto div:not(:last-child){
    margin-right: 30px;
    justify-content: center;
}

#radio1:checked ~ .nav-auto .a-b1 {
    background-color: #23e3c2;
}
#radio2:checked ~ .nav-auto .a-b2 {
    background-color: #23e3c2;
}
#radio3:checked ~ .nav-auto .a-b3 {
    background-color: #23e3c2;
}
#radio4:checked ~ .nav-auto .a-b4 {
    background-color: #23e3c2;
}

/*lista filmes*/
.lista{
   padding: 10px;
}

.lista h4{
    color: #f2efea;
    font-size: 24px;
    padding: 5px;
}

.lista .title {
    display: flex;
    flex-wrap: wrap;
}

.lista .title button{
    color:#f2efea;
    padding: 3px;
    background-color: #0d0d0d;
    margin: 4px 2px;
    text-decoration: none;
    border: none;
}

.lista .items h5{
    color: #f2efea;
    padding: 10px;
}

.lista .items{
    display: flex;
    flex-wrap: wrap;
}

div.list {
    margin-top: 10px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
}
div.item {
    text-align: center;
    padding: 10px;
    width: 200px;
    border-radius: 5px;
    margin: 5px;  
    color: #0d0d0d;
}

div.item img{
    border-radius: 7px;
}

div.item h2 {
    font-size: 13px;
}

div.item:hover {
    color: #f2efea;
   
    cursor: pointer;
}

div.item img {
    width: 100%;
}