body {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}


body::before {
    content: '';
    background-color:#0D0D0D;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}



.header {
    padding: 20px 50px;
    position: relative;
    z-index: 10;
}

.login_body {
    max-width: 390px;
    padding: 30px;
    top: 25%;
    right: 0;
    left: 60%;
    position: absolute;
    border-radius: 10px;
    box-sizing: border-box;
    
    
}

.login_body h2 {
    font-size: 32px;
    color: #fff;
    margin-top: 0;
}

.login_body input {
    height: 50px;
    width: 100%;
    color: #fff;
    background-color: #161616;
    border: none;
    border-radius: 5px;
    padding-left: 15px;
    box-sizing: border-box;
    outline: none;
}

.login_body input:hover {
    background-color: #161616;
}

.input_box {
    margin-bottom: 25px;
}

.login_body button {
    height: 50px;
    width: 100%;
    color: #fff;
    background-color: #557373;
    border-radius: 3px;
    font-weight: bold;
    font-size: 16px;
    border: none;
    margin-bottom: 10px;
}

.login_body button:hover {
    background-color: #55737360;
    cursor: pointer;
}

.support {
    display: flex;
    color: #b3b3b3;
    justify-content: space-between;
    font-size: 12px;
    margin-bottom: 5px;
}

.support input {
    width: 15px;
    height: 15px;
}

.remember {
    display: flex;
    align-items: center;
}

.remember span {
    margin-right: 5px;
    height: 25px;
}

.help a {
    text-decoration: none;
    color: #557373;
}

.help a:hover {
    text-decoration: underline;
}



.sign_up {
    color: #737373;
    font-size: 16px;
}

.sign_up a {
    color: #557373;
    font-size: 16px;
    text-decoration: none;
}

.sign_up a:hover {
    text-decoration: underline;
}

.terms {
    color: #737373;
    font-size: 13px;
}

.terms a {
    text-decoration: none;
    color: #0071eb;
}

.terms a:hover {
    text-decoration: underline;
}